{% extends 'store/main.html' %}
{% load static %}
{% block title %} ECommerce {% endblock %}

{% block content %}
<!--<h2>Store</h2>-->
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        {% if product.image %}
            <img class="thumbnail" src="{{ product.image.url }}">
        {% else %}
            <img class="thumbnail" src="{% static 'images/demo.png' %}">
        {% endif %}
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <hr>

            <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-primary add-btn update-cart">Add to Card</button>
            <a class="btn btn-outline-success" href="">View</a>
            <h4 style="display: inline-block; float: right;"><strong>${{ product.price|floatformat:2 }}</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}